#parse('layouts/header.vm')

<h3>Event information
  <small>$event.name</small>
</h3>

<a class="btn btn-primary btn-s" style="margin-bottom: 15px;" role="button" href="/event/$event.name/assign">
  Assign auditorium
</a>

#if($event.shows.size() != 0)

<table class="table table-striped">
  <thead>
  <tr class="info">
    <td><strong>Date</strong></td>
    <td><strong>Auditorium</strong></td>
    <td><strong>Free tickets</strong></td>
    <td></td>
  </tr>
  </thead>
  <tbody>
      #foreach( $show in $event.shows )
      <tr>
        <td>$show.date.toString("MM/dd/yyyy HH:mm")</td>
        <td>$show.auditorium.name</td>
        <td>
            $show.freeTicketCount form $show.auditorium.seats
          (<a href="/tickets/name/user_tickets.pdf">more information</a>)
        </td>
        <td>
            #if ($show.freeTicketCount != 0)
              <a class="btn btn-primary btn-xs" role="button" href="/tickets/book/$show.id">
                Book ticket
              </a>
            #end
        </td>
      </tr>
      #end
  </tbody>
</table>

#end

#parse('layouts/footer.vm')
