#parse('layouts/header.vm')

<h3>Upload users</h3>

#if($success.size() != 0 && !$message)
<div class="text-success"><strong>Next events has been successful uploaded:</strong></div>
<ul>
    #foreach( $event in $success )
      <li><a href="/events/$event.id">$event.name</a></li>
    #end
</ul>
#end

#if($error.size() != 0 && !$message)
<div class="text-warning"><strong>Next events has not been uploaded:</strong></div>
<ul>
    #foreach( $event in $error )
      <li>$event.name</li>
    #end
</ul>
#end

#if($message)
<div class="text-danger"><strong>$message</strong></div>
#end

#parse('layouts/footer.vm')
