#parse('layouts/header.vm')

<form class="login-form col-xs-4" method="post">
  <h2>Login</h2>

  <input class="form-control form-group" id="username" name="username" placeholder="Username"/>
  <input class="form-control form-group" type="password" id="password" name="password" placeholder="Password"/>

  <div class="checkbox">
    <label>
      <input type="checkbox" id="remember" name="remember">
      Remember me
    </label>
  </div>

  <button class="btn btn-primary form-control form-group" type="submit">Log In</button>
</form>

<div class="col-xs-8">
  <h3>Users:</h3>

  <p>
    <strong>Administrator:</strong><br/>
    username: admin<br/>
    password: admin
  </p>

  <p>
    <strong>Registered user:</strong><br/>
    username: jane<br/>
    password: pass
  </p>

</div>

#parse('layouts/footer.vm')
